.crypto {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid $border-crypto-color;
}

.crypto-title {
  padding-bottom: 20px;
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.crypto__form {
  padding: 18px 0 18px 18px;
  border-radius: 15px;
  border: 2px solid $border-crypto-form-color;
  background-color: $background-crypto-form-color;
}

.form__editor__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form__editor {
  display: flex;
  margin-bottom: 18px;
}

.lit-frag-editor-key {
  width: 40%;
}

.lit-frag-editor-text {
  width: 60%;
}

.form__editor-textarea {
  width: 80%;
  height: 450px;
  padding: 8px;

  resize: none;

  border-radius: 10px;
  border: 2px solid $border-crypto-form-color;
  background-color: $background-crypto-form-color;
}

.textarea--lit-frag-text {
  width: 70%;
}

.textarea--lit-frag-key {
  width: 90%;
}

.form__editor-buttons {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.buttons--lit-frag {
  width: 30%;
}

.form__posting {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__posting--lit-frag {
  justify-content: flex-end;
}

.posting__menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.input-key {
  width: 80%;
  height: 45px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid $border-crypto-form-color;
  background-color: $background-crypto-form-color;
}

.key__inner {
  display: flex;
  gap: 20px;
}

.knapsack-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}