@import "abstracts/variables";
@import "base/base";

@import "components/btn";
@import "components/radio";

@import "layout/header";
@import "layout/crypto";
@import "layout/footer";

.display-none {
  display: none;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}

.width-500 {
  width: 500px;
}

.width-140 {
  width: 140px;
}