<div class="form__editor" th:fragment="form-editor">
    <textarea class="form__editor-textarea" name="text" id="editor-textarea"
              placeholder="Enter your message for encryption/decryption"
              data-check-field
              th:text="${result} ?: ''"></textarea>
    <div class="form__editor-buttons">
        <label class="btn btn-editor">
            Open
            <input class="display-none" type="file" id="open">
        </label>
        <label class="btn btn-editor" id="clear" data-editor-button>Clear</label>
        <label class="btn btn-editor" id="save" data-editor-button>Save</label>
    </div>
</div>