<div th:fragment="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#">cryptosystem</a>
            <nav class="header__menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">ceasar</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">tritemius</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">gamma</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">lit frag</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>