<div class="knapsack-menu" th:fragment="knapsack-menu">
    <ul class="menu__list knapsack-list">
        <li class="menu__list-item">
            <a class="menu__list-link" href="/knapsack/encrypt/">encrypt</a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-link" href="/knapsack/generate/">generate key</a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-link" href="/knapsack/decrypt/">decrypt</a>
        </li>
    </ul>
</div>