$text-color: #000;
$background-body-color: #c29c9c;
$border-crypto-color: #867e7e;
$border-crypto-form-color: #a69898;
$background-crypto-form-color: #ccaeae;
$btn-editor-color: #ada8a8;
$btn-post-color: #a98c8c;
$radio-checked-color: #857777;